html{
    height: 120%;
    
}
body{
    /* background-color: #FC5E55; */
    background-image: linear-gradient(#FC5E55 ,#FA4083);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}
.container{
    width: 1024px;
    
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header{
    /* background-color: rgb(41,96,36); */
    /* min-height: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
main{
    /* background-color: rgb(49,139,41); */
    min-height: 300px;
    display: flex;
    align-items: center;
}
.cards{
    background-color: rgb(53, 219, 38);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}
.cards1{
    background-color: rgb(139, 31, 139);
    min-height: 300px;
    width: 30%;
}
.cards2{
    background-color: rgb(218, 84, 223);
    min-height: 300px;
    width: 30%;
}
.cards3{
    background-color: rgb(61, 6, 63);
    min-height: 300px;
    width: 30%;
}
.hero1{
    /* background-color: aquamarine; */
    flex:2;
    padding-right: 40px;
  
}
.hero2{
    /* background-color: darkkhaki; */
    flex:1;
}
h1{
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
}
p{
    line-height: 1.75rem;
    margin-bottom: 1rem;
}