html{
    /* height: 120%; */
    background-image: linear-gradient(#FC5E55 ,#FA4083);    
}
body{
    /* background-color: #FC5E55; */
    background-image: url('image/image-lion-background.png');
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}
.container{
    width: 1024px;
    
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: white;
}

header{
    /* background-color: rgb(41,96,36); */
    /* min-height: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
    
    
}
main{
    /* background-color: rgb(49,139,41); */
    min-height: 300px;
    display: flex;
    align-items: center;
}
.cards{  
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.cards1{
    background-image: url(image/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.795);
    
}
.cards2{
    background-image: url(image/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.795);
}
.cards3{
    background-image: url(image/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.795);
}
.hero1{
    /* background-color: aquamarine; */
    flex:2;
    padding-right: 40px;
  
}
.hero2{
    /* background-color: darkkhaki; */
    flex:1;
}
h1{
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.795);
}
h2{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}
p{
    line-height: 1.75rem;
    margin-bottom: 1rem;
}
.cards p{
    font-size:0.85rem;
    line-height: 1.2rem;
    margin: 10px 30px 20px 30px;
}
.cards img{
    padding-top: 30px;
}
.mybutton{
    background-color: white;
    color: #FA4083;
    padding: 11px 25px;
    font-family: 'Playfair Display', serif;
    border-radius: 12px 0px 12px 0px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.795);
}
.mybutton:hover{
    background-color: rgba(42, 218, 101, 0.856);
    transition-duration: 0.5s;
    color: white;
}
.navButton:hover{
    background-color: white;
    transition-duration: 1s;

}

.navButton:hover a{
    color: #FA4083;
}
a.mybutton{
    display: inline-block;
    margin-top: 20px;
}
.hero2 img{
    border-radius:  12px 12px 12px 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.795);
}
nav a.mybutton{
    margin-left: 30px;
}
.navButton{
    border: 1px solid white;
    padding: 11px 25px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    position: relative;

}
.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;

}
.tbox{
    width: 37%;
    padding: 50px;
    border: 1px solid white;
    /* box-sizing: border-box; */
    margin-top: 50px;

}
.tbox p:last-of-type{
    font-size: 0.8rem;
    font-style: italic;
    font-weight: bold;
    padding-left: 250px;
}

.dropdown{
    display: none;
    position: absolute;
    
    z-index: 1;
    padding-top: 20px;
    margin-left: -26px;
}
.navButton:hover .dropdown{
    text-align: center;    
    display: block;
    transition-duration: 1s;
    color: #FA4083;    
}
.dropdown .navButton{
    width: 99px;
    background-color: rgba(255, 255, 255, 0.527);
    
}
.dropdown .navButton:hover{
    background-color: white;
    transition-duration: 1s;

}

