/* Global View */
.container{
    background-color: aquamarine;
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
h1{
    font-size: 1.5rem;
}
.col{
    background-color: pink;
    min-height: 200px;
    width: 30%;
    margin-bottom: 40px;
}
.hide-dektop-only{
    display: none;
}






/* Tablet View */
@media (max-width: 768px){   
.col{
    width: 47%;
} 
.hide-dektop-only{
    display: block;
}




}
/* Mobile View */
@media (max-width: 400px){
 
    .col{
        width: 100%;
    }
    .hide-mobile-only{
        display: none;
    }
}