/* Global View */
body{
    font-family: 'Asap', sans-serif;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
header{
    max-width: 1024px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-container{
    background-color: rgb(61, 61, 61);
    min-height: 100px;
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
    
    
}
.container{
    
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;
    
}


.logo{
    
}
.bold{
    font-weight: 700;
    color: rgb(17, 185, 129);
}
nav{
    
}
.mybutton{
    padding: 10px 25px;
    border: 1px solid;
    margin-left: 20px;
}
.mybutton:hover{
 background-color: white;
 color: black;
 transition-duration: 0.7s;
}
h1{
    font-size: 1.5rem;
}
.col{
    background-color: rgb(17, 185, 129);
    width: 30%;
    margin-bottom: 40px;
}
.hide-dektop-only{
    display: none;
}
.col img{
    width: 100%;
    height: auto;
}
.col p::first-line{
    font-weight: 700;
}
.col p{
    
    font-size: 0.875rem;
    padding: 20px 25px;
    line-height: 1.25rem;
}
.mob-wrapper{
    display: none;
}





/* Tablet View */
@media (max-width: 768px){   
.col{
    width: 47%;
} 
.hide-dektop-only{
    display: block;
}
.header-container{
    position: relative;
}
.container{
    padding-top: 30px;
}
nav{
    display: none;
}
.logo{
    padding: 40px 0;
}
.mybutton{
    margin-left: 0;
}
.mob-wrapper{
    display: inline;
    padding-right: 40px;
}
.mob-nav{
    display: none;
    position: absolute ;
    padding-top: 10px;
    
}
.navbutton{
    display: block;
    background-color: rgb(17, 185, 129);
    padding: 15px 30px;
    margin-left: -70px;
    text-align: center;
}



}
/* Mobile View */
@media (max-width: 400px){
 
    .col{
        width: 100%;
    }
    .hide-mobile-only{
        display: none;
    }
   
}